<!Doctype html>
<html>
    <head>
        <title> Facebook_Page@Created by Sanghmitravijai.</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="Facebook.css">
    </head>
                                           <!--body started-->
    <body>
                                              <!--top-nav-->
     <section class="nav">
      <div class="nav-left">
      <div class="logo-div">
         <img class="logo-img" src="icon.png" alt="icon">
      </div><!--end of logo-div-->
      <div class="Search_div">
      <div class="Search_Bar">
         <input type="text" placeholder="Search" name="search" style="margin-top:37px;margin-left:-99px;width:406px;border-radius:2px;padding:0px;height: 22px;position: relative;">
         <button class="button" type="submit"><i class="fa fa-search" style="margin-left:9px;padding-right:18px;padding-bottom: 2px"></i></button>
      </div><!--end of search bar-->
      </div><!--end of Search-div-->
      </div><!--end of nav-left-->

      <div class="nav-right">
      <div class="nav-right-div">
            <div><img src="avatar2.png" alt="Avatar" class="avatar"></div>
            <div class="Username"><a  href="#"><b>Username</b></a></div>
            <div><a class="active" href="#"style="position:relative;color:#fff;margin-right:452px;margin-left:128px;margin-top:-54px;padding-left:14px;padding-right:15px;border-right:1px solid #365899;border-left:1px solid #365899;"><b>Home</b></a></div> 
            <div><a  href="#"style="position:relative;color:#fff;margin-right:452px;margin-left:189px;margin-top:-54px;padding-left:14px;padding-right:15px;border-right:1px solid #365899;"><b>Create</b></a></div> 
        <div class="nav-right-div-row1">
            <div><img src="Request.png" alt="Avatar" class="request"></div>
            <div><img src="facebook-messenger.png" alt="messenger" class="messenger"></div>
            <div><img src="notification2.png" alt="notification" class="notification"></div>
        </div><!--end of nav-right-div-row1-->
        <div class="nav-right-div-row2">
<!--   <div><img src="create1.png" alt="create" class="create"></div>-->
            <div><img src="quick1.png" alt="quick" class="quick"></div>
            <div class="dropdown">
                <button class="dropbtn" onclick="myFunction()">
                <i class="fa fa-caret-down"></i>
                </button>
            </div><!--end of dropdown-->
       </div><!--end of nav-right-div-row2-->
       </div><!--end of nav-right-div-->
    </div><!--end of nav-right-->
    </section><!--end of nav-->


                                             <!---Left-side page-->


    <div class="left-col">
    <div class="left-col-div1">
        <img src="avatar2.png" alt="Avatar" class="left-col-div1-img">
        <div class="left-col-div1-user"><a  href="#"><b>Username</b></a></div>
    </div><!--end of left-col-div1-->
    <div class="left-col-div2">
        <img src="image.png" alt="image-img" class="left-col-div2-img">
        <div class="left-col-div2-news-feed"><a class="active" href="#"><b>News Feed </b></a></div>
        <div class="left-col-div2-dot"><a  href="#"><b>... </b></a></div>
    </div><!--end of left-col-div2-->
    <div class="left-col-div3">
        <img src="facebook-messenger.png" alt="messenger" class="left-col-div3-img">
        <div class="left-col-div3-messenger"><a href="#"><b>Messenger </b></a></div>
    </div><!--end of left-col-div3 -->
    <div class="left-col-div4">
        <div class="left-col-div4-Shortcuts"><b>Shortcuts</b></div>
        <div class="left-col-div4-edit"><a href="#"><b>Edit </b></a></div>
    </div><!--end of left-col-div4 -->
    <div class="left-col-div5">
        <img src="Group.jpg" alt="group" class="left-col-div5-img">
        <div class="left-col-div5-group"><a href="#"><b>MRA Job  </b></a></div>
        <div class="left-col-div5-dot"><a  href="#"><b>... </b></a></div>
    </div><!--end of left-col-div5 -->
    <div class="left-col-div6">
        <img src="Group.jpg" alt="group" class="left-col-div6-img">
        <div class="left-col-div6-group"><a href="#"><b>Web Design </b></a></div>
        <div class="left-col-div6-dot"><a  href="#"><b>... </b></a></div>
    </div><!--end of left-col-div6 -->
    <div class="left-col-div7">
        <img src="Group.jpg" alt="group" class="left-col-div7-img">
        <div class="left-col-div7-group"><a href="#"><b>Refferel Jobs </b></a></div>
        <div class="left-col-div7-dot"><a  href="#"><b>... </b></a></div>
    </div><!--end of left-col-div7 -->
    <div class="left-col-div8">
        <div class="left-col-div8-explore"><b>Explore</b></div>
    </div><!--end of left-col-div8 -->
    <div class="left-col-div9">
        <img src="Events.png" alt="Events" class="left-col-div9-img">
        <div class="left-col-div9-events"><a href="#"><b>Events</b></a></div>
    </div><!--end of left-col-div9 -->
    <div class="left-col-div10">
        <img src="Flag.png" alt="flag" class="left-col-div10-img">
        <div class="left-col-div10-flag"><a href="#"><b>Pages</b></a></div>
    </div><!--end of left-col-div10 -->
    <div class="left-col-div11">
        <img src="grp.jpg" alt="grp" class="left-col-div11-img">
        <div class="left-col-div11-grp"><a href="#"><b>Groups</b></a></div>
    </div><!--end of left-col-div11 -->
    <div class="left-col-div12">
        <img src="fundraising-facebook.png" alt="fundraising-facebook" class="left-col-div12-img">
        <div class="left-col-div12-fundraising-facebook"><a href="#"><b>Fundraisers</b></a></div>
    </div><!--end of left-col-div12 -->
    <div class="left-col-div13">
        <img src="friendlist.png" alt="friendlist" class="left-col-div13-img">
        <div class="left-col-div13-friendlist"><a href="#"><b>Friend Lists</b></a></div>
    </div><!--end of left-col-div13 -->
    <div class="left-col-div14">
        <div class="left-col-div14-dropdown">
        <button class="dropbtn1" onclick="myFunction1()">
            <i class="fa fa-caret-down"></i>
        </button>
        </div><!--end of dropdown-->
        <div class="left-col-div14-more"><a href="#"><b>See More...</b></a></div>
    </div><!--end of left-col-div14 -->   
    </div><!--end of left-col-->

                                            <!--middle-of page-->


    <div class="mid-col">
    <div class="Post-area">
    <div class="post-news-top">
        <div class="post-news-top-row1">
            <div class="column">
              <a class="link1"><b>Make Post</b></a>
            </div><!--end of col-->
        </div><!--end of post-news-top-row-->
        <div class="post-news-top-row2">
            <div class="column">
              <a class="link2"><b>Photo/Video Albhum</b></a>
            </div><!--end of col-->
        </div><!--end of post-news-top-row-->
        <div class="post-news-top-row3">
            <div class="column">
             <a class="link3"><b>Live Video</a>
            </div><!--end of col-->
        </div><!--end of post-news-top-row-->
    </div><!--end of post-news-top-->

    <div class="Post-area-status">
    <div class="Post-area-news">   
        <div><img src="avatar2.png" alt="Avatar" class="avatar1"></div>
    </div><!--end of Post-area-news-->
    <div class="Text-area">
        <div class="Text-area-status">
            <input type="text" placeholder="Write something here..." name="Write something here..." style="margin-top:0px;margin-right:8px; float:right;;width:432px;margin-top:-67px;height:48px;border:none;">
      <!--  <textarea rows="4" cols="50" style="float:right;width: 427px;margin-top:-67px;height:50px;"> Write something here...</textarea>-->
            <div><h1 style="border-bottom: 1px solid #e9ebee;margin-top:67px;width: 487px;margin-left:-60px;" ></h1></div>  
        </div><!--end of Text-area-status-->
    </div><!--end of Text-area-->
    <div class="row">
        <button class="button1"><img src="image.png" alt="image" style="width:15px;height:15px;"><b style="margin-left:3px;">Photo/Video</b></button>
        <button class="button2"><img src="smile.png" alt="smile" style="width:15px;height:15px;"><b style="margin-left:3px;">Feeling/Activity</b></button>
        <button class="button3"><b>...</b></button>
    </div>
    <div class="Post-area-news1">   
    <div class="Post-area-news1-row">
        <div class="Post-area-news1-row-img">  
            <div><img src="chinky.jpg" alt="user-img" class="avatar2"></div>
            <div class="updated-img">
                 <a href="#" style="margin-top:-42px;margin-left:43px;">Sanghmitra Vijai</a>
            </div><!---end of updated-img-->
        </div><!--end of Post-area-news1-row-img-->
            <div class="heading-profile">  <h5>updated her profile picture.</h5></div>
            <div class="heading-profile-dot"><a  href="#"><b>... </b></a></div>
            <br><br>
            <div class="container-img">
                <div><img src="chinky.jpg" alt="user-img" class="profile-pic"></div>
                <div><h1 style="border-bottom: 2px solid #e9ebee;margin-top:64px;width: 487px;margin-left:-21px;" ></h1></div> 
            </div><!--end of container-img"-->
            <div class="compliment">
            <div class="compliment-row1">
                     <img src="like.jpg" alt="like" class="compliment-img">
                     <a class="compliment-row-link"><b>Like</b></a>
            </div> <!--end of compliment-row1-->
            <div class="compliment-row2">
                     <img src="comment.png" alt="comment" class="compliment-img">
                     <a class="compliment-row-link"><b>Comment</b></a>
            </div> <!--end of compliment-row2-->
            <div class="compliment-row3">
                     <img src="share.png" alt="share" class="compliment-img">
                     <a class="compliment-row-link"><b>Share</b></a>
            </div> <!--end of compliment-row3-->

            <div><h1 style="border-bottom: 1px solid #fff;margin-top:67px;width: 487px;margin-left:12px;" ></h1></div>  
           
             <div class="bottom-comment-area"  style="margin-top:-137px;">
                <div class="left-icon-img">
                    <div><img src="chinky.jpg" alt="Avatar" class="avatar3"></div>
                </div><!--end of left-icon-img">-->
            <div class="comment-section" >
     <!--   <input type="text" placeholder="Write something here..." name=" Write something here..." style="margin-right:7px; float:right;;width:432px;margin-top:0px;height:35px;border:none;border-radius:50px;">-->
            <textarea rows="4" cols="50" style="float:right;width: 435px;margin-top:2px;height:28px;border-radius: 50px;"> Write something here...</textarea>
            </div><!--end of comment-section-->
            </div><!--end of bottom-comment-area-->
            </div><!--end of of compliment-->
    </div><!--end of post area news1-->
    </div><!--end of Post-area-status-->
        <br>
    <div class="Post-area-news2">
    <div class="Post-area-news1-row">
        <div class="Post-area-news1-row-img">  
            <div><img src="chinky.jpg" alt="user-img" class="avatar2"></div>
            <div class="updated-img">
                <a href="#" style="margin-top:-32px;margin-left:45px;">Sanghmitra Vijai</a>
            </div><!---end of updated-img-->
        </div><!--end of Post-area-news1-row-img-->
        <div class="heading-shared-post">  <h5>shared <a href="#" style="margin-top:-6px;margin-left:-7px;">a post.</a></h5></div>
        <div class="heading-shared-post-dot"><a  href="#"><b>... </b></a></div>
             <br><br>
        <div class="container-img">
            <div><img src="nature1.jpg" alt="nature-img" class="nature-pic"></div>
          
        </div><!--end of container-img"-->
        <div class="like-button">
            <div><h1 style="font-size:12px;color:gray;margin-left:29px;padding-top:9px;">Nature Diaries</h1></div>
            <div><a href="#"><img src="like-button.jpg" alt="like-img" class="like-button-pic"></a></div>
        </div>
        <div><h1 style="border-bottom: 2px solid #e9ebee;margin-top:-23px;width: 487px;margin-left:7px;" ></h1></div> 

        <div class="compliment">
        <div class="compliment-row1">
            <img src="like.jpg" alt="like" class="compliment-img">
          
            <a class="compliment-row-link"><b>Like</b></a>
        </div> <!--end of compliment-row1-->
        <div class="compliment-row2">
            <img src="comment.png" alt="comment" class="compliment-img">
            <a class="compliment-row-link"><b>Comment</b></a>
        </div> <!--end of compliment-row2-->
        <div class="compliment-row3">
            <img src="share.png" alt="share" class="compliment-img">
            <a class="compliment-row-link"><b>Share</b></a>
        </div> <!--end of compliment-row3-->
        <div><h1 style="border-bottom: 2px solid #e9ebee;margin-top:10px;width: 487px;margin-left:7px;" ></h1></div> 
        <div class="bottom-comment-area">
        <div class="left-icon-img">
             <div><img src="chinky.jpg" alt="Avatar" class="avatar3"></div>
        </div><!--end of left-icon-img">-->
        <div class="comment-section">
 <!--   <input type="text" placeholder="Write something here..." name=" Write something here..." style="margin-right:7px; float:right;;width:432px;margin-top:0px;height:35px;border:none;border-radius:50px;">-->
            <textarea rows="4" cols="50" style="float:right;width: 435px;margin-top:2px;height:28px;border-radius: 50px;"> Write something here...</textarea>
        </div><!--end of comment-section-->

        </div><!--end of bottom-comment-area-->
        </div><!--end of of compliment-->
    </div><!--end of post area news1-row-->
    </div><!--end of Post-area-status-->
    </div><!--end of Post-area-news2-->
    </div><!--end of Post-area-->
    </div><!--end of mid-col-->

                                          <!--mid-col right side stories-->
    <div class="mid-col-stories">
    <div class="mid-col-stories-block">
            <div class="mid-col-stories-block-top">
                <div><h1 style="font-size:12px;color:#4b4f56;margin-left:18px;padding-top:10px;">Stories</h1></div>
                <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:164px;margin-top:-30px">Archive</a></div>
                <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:220px;margin-top:-49px">.Settings</a></div>
            </div><!--end of mid-col-stories-block-top-->

            <div class="add-story-block">
                <div class="add-story-block-icons">
                      <a href="#"> <img src="addicon.png" alt="add-icon" class="icon"> </a> 
                      <div><a href="#" h1 style="font-size:12px;color:#365899;;margin-left:72px;margin-top:-24px"><b>Add to Your Story</b></a></div>
                      <div><a href="#" h1 style="font-size:12px;color:#8d949e;margin-left:72px;margin-top:-24px">Share a Photo, Video or write</a></div>
                      <div><a href="#" h1 style="font-size:12px;color:#8d949e;margin-left:72px;margin-top:-24px">something</a></div>
                </div><!--end of add-story-block-icons-->
            </div><!--end of add-story-block-->

            <div class="add-story-block1">
                <div class="add-story-block-icons1">
                     <a href="#"> <img src="web.png" alt="web-icon" class="icon"> </a> 
                     <div><a href="#" h1 style="font-size:12px;color:#365899;;margin-left:72px;margin-top:-24px"><b>Web Design and Development</b></a></div>
                     <div><a href="#" h1 style="font-size:12px;color:#8d949e;margin-left:72px;margin-top:-21px">about an hour ago</a></div>
                </div><!--end of add-story-block-icons1-->
            </div><!--end of add-story-block1-->

            <div class="add-story-block">
                 <div class="add-story-block-icons">
                    <a href="#"> <img src="Shakti-Mohan.jpg" alt="dance-actoress" class="icon"> </a> 
                    <div><a href="#" h1 style="font-size:12px;color:#365899;;margin-left:72px;margin-top:-24px"><b>Shakti Mohan</b></a></div>
                    <div><a href="#" h1 style="font-size:12px;color:#8d949e;margin-left:72px;margin-top:-21px">38 minutes ago</a></div>
                 </div><!--end of add-story-block-icons-->
            </div><!--end of add-story-block-->

            <div class="add-story-block1">
                 <div class="add-story-block-icons1">
                     <a href="#"> <img src="mann.jpg" alt="singer" class="icon"> </a>
                     <div><a href="#" h1 style="font-size:12px;color:#365899;;margin-left:72px;margin-top:-24px"><b>Mankrit Aulakh</b></a></div>
                     <div><a href="#" h1 style="font-size:12px;color:#8d949e;margin-left:72px;margin-top:-21px">14 hours ago</a></div>
                 </div><!--end of add-story-block-icons1-->
            </div><!--end of add-story-block1-->

            <div class="mid-dropdown">
               <button class="mid-dropbtn" onclick="myFunction1()">
                   <i class="fa fa-caret-down"></i>
                </button>
            </div><!--end of dropdown-->
            <div class="mid-more"><a href="#"><b>See More...</b></a></div>

    </div><!--end of mid-col-stories-block-->
        <br>
    <div class="mid-col-stories-block-short">
            <div><a href="#"><img src="birthday.png" alt="gift-img" class="birthday-img"></a></div>
            <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:32px;margin-top:-18px">Raveena Kapoor</a></div>
            <div><h1 style="font-size:12px;color:#8d949e;margin-left:143px;margin-top:-29px">and</a></div>
            <div><a href="#" h1 style="font-size:12px;color:#8d949e;margin-left:163px;margin-top:-29px">1 Other</a></div>
    </div><!--end of mid-col-stories-block-short-->
        <br>
    <div class="mid-col-stories-block" style="height: 415px;">
        <div><h1 style="font-size:12px;color:#4b4f56;margin-left:15px;margin-top:13px;padding-top:21px;">Suggested Groups</h1></div>
        <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:202px;margin-top:-24px">See all</a></div>
        <div class="mid-col-img">
                <div><a href="#"><img src="job.jpg" alt="jobicon-img" class="job-img"></a></div>
                <div><a href="#" h1 style="font-size:12px;color:#365899;margin-top:88px;margin-left:0px;">Search Job in IT</a></div>  
                <div><h1 style="font-size:12px;color:#4b4f56;margin-left:18px;margin-top:-4px;">315 people like this.</a></div>   
                <button class="join-button"><b>+ Join</b></button>
        </div><!--end of mid-col-img-->
    <br>
    <div class="mid-col-img">
         <div><a href="#"><img src="sandeep.jpg" alt="jobicon-img" class="job-img"></a></div>
         <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:0px;margin-top:93px">Sandeep Maheswari Positive Club</a></div>
         <div><h1 style="font-size:12px;color:#4b4f56;margin-left:15px;margin-top:-28px;padding-top:21px;">2 friends 1,093416 members</h1></div>
         <button class="join-button"style="margin-top: -39px;"><b>+ Join</b></button>
    </div><!--end of mid-col-img-->
    </div><!--end of mid-col-stories-block-->
      <br>
    <div class="mid-col-stories-block-short" style="height: 74px;">  
            <div><h1 style="font-size:13px;color:#4b4f56;margin-left:11px;margin-top:0px;padding-top:14px;">English (US)</a></div>
            <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:85px;margin-top:-30px">हिन्दी</a></div>
            <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:123px;margin-top:-48px">ਪੰਜਾਬੀ</a></div>   
            <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:167px;margin-top:-67px"> اردو</a> </div> 
            <div><a href="#" h1 style="font-size:12px;color:#365899;margin-left:4px;margin-top:-62px"> ગુજરાતી</a> </div> 
            <div><a href="#"><img src="addimage.png" alt="add-img" class="add-img"></a></div>
    </div><!--end of mid-col-stories-block-short-->
    </div><!--end of mid-col-stories-->


                                            <!--right-side-page-->

    <div class="right-col">
    <div class="right-col-fix">
    <div class="contact-page">
    <div class="contact-page-top">
        <div><h1 style="font-size:11px;color:#4b4f56;margin-left:18px;padding-top:9px;">CONTACT PAGES</h1></div>
        <div><a href="#" h1 style="font-size:11px;color:#4b4f56;margin-left:152px;margin-top:-26px">SEE ALL</a></div>
        <div class="display-container">
                <img class="mySlides1" src="chinky.jpg">
                <img class="mySlides2" src="mankrit.jpg">
                <img class="mySlides3" src="nature.jpg">
        </div><!--end of display-container-->
            <button class="display-left" onclick="plusDivs(-1)">&#10094; </button>
            <button class="display-right" onclick="plusDivs(1)">&#10095;</button>
            <div><h1 style="border-bottom: 2px solid #dddfe2;margin-top:8px;width: 200px;margin-left:9px;"></h1></div>

    </div><!--end of contact-page-top-->
    </div><!--end of contact-page-->
    <div class="contacts-block">
        <div><h1 style="font-size:12px;color:#4a4a4a;margin-left:11px;margin-top:0px;padding-top:5px;">CONTACTS</a></div>        
         <div class="contacts-block-chatter-block">
             <div class="chatter-block-img">
                 <img src="dev.jpg" alt="user-img" class="chatting-img">
                 <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Dev Vijai</a></div>
                 <div class="heading"><h1>2h</h1></div>
             </div><!--end of chatter-block-img -->
         </div><!--end of contacts-block-chatter-block-->
         <div class="contacts-block-chatter-block1">
             <div class="chatter-block-img1">
                 <img src="krishna.jpg" alt="user-img" class="chatting-img">
                 <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Krishna Vijai</a></div>
                 <div class="heading"><h1>3h</h1></div>
                </div><!--end of chatter-block-img1 -->
        </div><!--end of contacts-block-chatter-block1-->
        <div class="contacts-block-chatter-block">
             <div class="chatter-block-img">
                 <img src="anjali.jpg" alt="user-img" class="chatting-img">
                 <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Anjali Kali</a></div>
                 <img src="GreenDot.png" alt="online" class="heading" style="width:7px;height:7px;margin-bottom:45px;border-radius: 50%;">
                </div><!--end of chatter-block-img -->
        </div><!--end of contacts-block-chatter-block-->
        <div class="contacts-block-chatter-block1">
             <div class="chatter-block-img1">
                 <img src="anu.jpg" alt="user-img" class="chatting-img">
                 <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Anurag Vijai</a></div>
                 <img src="GreenDot.png" alt="online" class="heading" style="width:7px;height:7px;margin-bottom:45px;border-radius: 50%;">
             </div><!--end of chatter-block-img1 -->
        </div><!--end of contacts-block-chatter-block1-->
        <div class="contacts-block-chatter-block">
             <div class="chatter-block-img">
                <img src="shani.jpg" alt="user-img" class="chatting-img">
                <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Shani Raj Kali</a></div>
                <div class="heading"><h1>2h</h1></div> 
            </div><!--end of chatter-block-img -->
        </div><!--end of contacts-block-chatter-block-->
        <div class="contacts-block-chatter-block1">
             <div class="chatter-block-img1">
                <img src="chinkyvijai.jpg" alt="user-img" class="chatting-img">
                <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Chinky Vijai</a></div>
                <div class="heading"><h1>10h</h1></div>
            </div><!--end of chatter-block-img1 -->
        </div><!--end of contacts-block-chatter-block1-->
        <div class="contacts-block-chatter-block">
            <div class="chatter-block-img">
                <img src="shivani.jpg" alt="user-img" class="chatting-img"> 
                <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Shivani Sharma</a></div>
                <div class="heading"><h1>5h</h1></div>
            </div><!--end of chatter-block-img -->
        </div><!--end of contacts-block-chatter-block-->
        <div class="contacts-block-chatter-block1">
            <div class="chatter-block-img1">
                <img src="ashu.jpg" alt="user-img" class="chatting-img">
                <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Ashutosh Vijai</a></div>
                <div class="heading"><h1>4h</h1></div>
            </div><!--end of chatter-block-img1 -->
        </div><!--end of contacts-block-chatter-block1-->
        <div class="contacts-block-chatter-block">
             <div class="chatter-block-img">
                <img src="mohini.jpg" alt="user-img" class="chatting-img">
                <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">mohini Bansal</a></div>
                <img src="GreenDot.png" alt="online" class="heading" style="width:7px;height:7px;margin-bottom:45px;border-radius: 50%;">
             </div><!--end of chatter-block-img -->
        </div><!--end of contacts-block-chatter-block-->
        <div><h1 style="font-size:12px;color:#4a4a4a;;margin-left:7px;margin-top:0px;padding-top:21px;">GROUP CONVERSATION</h1></div>
        <div class="contacts-block-chatter-block1">
                <div class="chatter-block-img1">
                        <img src="images.png" alt="adduser-img" class="chatting-img">
                        <div><a href="#" h1 style="font-size:12px;color:#4a4a4a;margin-left:43px;margin-top:-31px">Create New Group</a></div>     </div><!--end of chatter-block-img -->
        </div><!--end of block1-->
    </div><!--end of contacts-block-->
    <div class="last-search">
            <div class="Search_Bar">
                   <input type="text" placeholder="Search" name="search" style="margin-top:-12px;margin-left:0px;width:406px;border-radius:2px;padding:0px;height: 22px;position: relative;">
                    <button class="button" type="submit"><i class="fa fa-search" style="margin-left:9px;padding-right:18px;padding-bottom: 2px"></i></button>
                 </div><!--end of search bar-->
    </div>
    </div><!--end of right-col-fix-->
    </div><!--end of right-col-->
            
</body>
</html>