<!DOCTYPE html>
<html>
    <head>
        <title>Brand</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="index.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
            <div class="top-nav">
                    <div class="mid-nav">
                    </div><!--end of mid-nav-->
            </div><!--end of top nav-->

                                        <!--left-col-->
            <div class="col-left">

            </div><!--end of col left-->
            
                                        <!---mid col-->
           <div class="mid-col">
            
                                        <!--news row one-->
             <div class="row-img">
                 <div class="brand-link">
                     <a class="brand-name" href="#"><h1><b>SAMSUNG</b></h1></a>
                 </div><!--end of brand-link-->
                 <a class="link1" href="#">Type</a>
                 <a class="link2" href="#">Status</a>
                 <a class="link3" href="#">Established</a>
                 <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>LENOVO</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                  <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>ALCATEL</b></h1></a>
                  </div><!--end of brand-link-->
                  <a class="link1" href="#">Type</a>
                  <a class="link2" href="#">Status</a>
                  <a class="link3" href="#">Established</a>
                  <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                  <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>WIKO</b></h1></a>
                  </div><!--end of brand-link-->
                  <a class="link1" href="#">Type</a>
                  <a class="link2" href="#">Status</a>
                  <a class="link3" href="#">Established</a>
                  <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->
        
                                        <!--news row two-->
           
             <div class="row-img">
                  <div class="brand-link">
                     <a class="brand-name" href="#"><h1><b>APPLE</b></h1></a>
                  </div><!--end of brand-link-->
                  <a class="link1" href="#">Type</a>
                  <a class="link2" href="#">Status</a>
                  <a class="link3" href="#">Established</a>
                  <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                  <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>XIAOMI</b></h1></a>
                  </div><!--end of brand-link-->
                  <a class="link1" href="#">Type</a>
                  <a class="link2" href="#">Status</a>
                  <a class="link3" href="#">Established</a>
                  <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                  <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>ZTE</b></h1></a>
                  </div><!--end of brand-link-->
                  <a class="link1" href="#">Type</a>
                  <a class="link2" href="#">Status</a>
                  <a class="link3" href="#">Established</a>
                  <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                       <a class="brand-name" href="#"><h1><b>VIVO</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a><br>
                    <a class="link4" href="#">Description</a><br>
             </div><!--end of row-img-->

         
                                        <!--news row three-->
        
             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>NOKIA</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>GOOGLE</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>TOSHIBA</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>LEECO</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

           
                                        <!--news row four-->
            
             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>SONY</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>ACER</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>VODAFONE</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>PANASONIC</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

                                                  <!--news row five-->
           
             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>LG</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>ASUS</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>ENERGIZER</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>HP</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->
                                       <!--news row six-->
          
        
             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>HTC</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a><br>
                    <a class="link4" href="#">Description</a><br>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>OPPO</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>CAT</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->

             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>YU</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
             </div><!--end of row-img-->


                                    <!--news row seven-->
          
           
             <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>MOTOROLA</b></h1></a>
                    </div><!--end of brand-link-->
                    
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a><br>
                    <a class="link4" href="#">Description</a><br>
                    
             </div><!--end of row-img-->
                               
            <div class="row-img">
                   <div class="brand-link">
                     <a class="brand-name" href="#"><h1><b>ONEPLUS</b></h1></a>
                   </div><!--end of brand-link-->

                   <a class="link1" href="#">Type</a>
                   <a class="link2" href="#">Status</a>
                   <a class="link3" href="#">Established</a><br>
                   <a class="link4" href="#">Description</a><br>
            </div><!--end of row-img-->
                               
            <div class="row-img">
                   <div class="brand-link">
                    <a class="brand-name" href="#"><h1><b>LAVA</b></h1></a>
                   </div><!--end of brand-link-->
                   <a class="link1" href="#">Type</a>
                   <a class="link2" href="#">Status</a>
                   <a class="link3" href="#">Established</a><br>
                   <a class="link4" href="#">Description</a><br>
            </div><!--end of row-img-->
                               
            <div class="row-img">
                    <div class="brand-link">
                      <a class="brand-name" href="#"><h1><b>VERYKOOL</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
            </div><!--end of row-img-->
                               
         
                                             <!--news row eight-->
          
           
              <div class="row-img">
                    <div class="brand-link">
                       <a class="brand-name" href="#"><h1><b>HUAWEI</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
              </div><!--end of row-img-->
                   
             <div class="row-img">
                    <div class="brand-link">
                       <a class="brand-name" href="#"><h1><b>MEIZU</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
            </div><!--end of row-img-->
                   
            <div class="row-img">
                    <div class="brand-link">
                       <a class="brand-name" href="#"><h1><b>MICROMAX</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
            </div><!--end of row-img-->
                   
            <div class="row-img">
                    <div class="brand-link">
                        <a class="brand-name" href="#"><h1><b>MAXWEST</b></h1></a>
                    </div><!--end of brand-link-->
                    <a class="link1" href="#">Type</a>
                    <a class="link2" href="#">Status</a>
                    <a class="link3" href="#">Established</a>
                    <a class="link4" href="#">Description</a>
            </div><!--end of row-img-->
                   
            
                                            <!--news row nine-->
          
     

        </div><!--end of mid-col-->
                                        <!--right-col-->
        <div class="col-right">

        </div><!--end of col right-->
    </body>
</html>