<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="univarsal.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="nav.css" />
    <script src="nav.js"></script> 

</head>
<body>

    <div class="addv addv_left"></div>
    <div id="navopener" class="hidden-container nav_opener">
        <p onclick="openSideBar()">></p>
    </div>

    <div class="nav" id="sidebar">
        <div class="">

        </div>

        <div>

        </div>

        <div>

        </div>

        <div>

        </div>

        <div>

        </div>
    </div>

    
    <div class="addv addv_right"></div>
</body>
</html>