<!DOCTYPE html>
<html>
    <head>
        <title>Tech</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="index.css">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <!-- <div class="nav-open">
            <p>+</p>
        </div>-->
        <div class="top-nav">
            <div class="mid-nav">
                
                <div class="logo-div">
                        <a href="#"><img src="technology.png" alt="logo" style="width:45px; height: 38px;"></a>
                   <!-- <img class="logo-img" src="tech.png" alt="icon">-->
                 </div><!--end of logo-div-->

                 <div class="logo-search">

                   <input type="text" placeholder="Search" name="search" style="margin-top:5px;margin-left:4px;width:200px;border-radius:2px;padding:3px;height: 28px;position: relative;">
                   <button class="button" type="submit"><i class="fa fa-search"></i></button>
                    
                 </div><!--end of logo-search-->

                 <div class="mobile-base">
                     <a href="#"><b>Mobile</b></a>
                 </div><!--end of mobile base-->

                 <div class="smartwatch-base">
                     <a href="#"><b>Watches</b></a>
                 </div><!--end of mobile base-->

                 <div class="home-base">
                     <a href="#"><b>Gadgets</b></a>
                 </div><!--end of homebase-->

                 <div class="wearable-base">
                     <a href="#"><b>Wears</b></a>
                 </div><!--end of wearable-base-->

                 <div class="profile-base">
                     <a href="#"><b>Profile</b></a>
                 </div><!--end of profile-base-->

            </div><!--end of mid-nav-->
        </div><!--end of top-nav-->
    </body>
</html>