<!DOCTYPE html>
<html>
    <head>
        <title>Tech</title>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="index.css">
            <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
       <!-- <div class="nav-open">
            <p>+</p>
        </div>-->
        <div class="top-nav">
            <div class="mid-nav">
                
                <div class="logo-div">
                        <a href="#"><img src="technology.png" alt="logo" style="width:45px; height: 38px;"></a>
                   <!-- <img class="logo-img" src="tech.png" alt="icon">-->
                 </div><!--end of logo-div-->

                 <div class="logo-search">

                   <input type="text" placeholder="Search" name="search" style="margin-top:5px;margin-left:4px;width:200px;border-radius:2px;padding:3px;height: 28px;position: relative;">
                   <button class="button" type="submit"><i class="fa fa-search"></i></button>
                    
                 </div><!--end of logo-search-->

                 <div class="mobile-base">
                     <a href="#"><b>Mobile</b></a>
                 </div><!--end of mobile base-->

                 <div class="smartwatch-base">
                     <a href="#"><b>Watches</b></a>
                 </div><!--end of mobile base-->

                 <div class="dropdown">
                    <button class="dropbtn">Gadgets
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">A</a>
                      <a href="#">B</a>
                      <a href="#">C</a>
                    </div>
                  </div> <!--end of dropdown-->

                   <div class="dropdown-tech">
                    <button class="dropbtn">Tech
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">X</a>
                      <a href="#">Y</a>
                      <a href="#">Z</a>
                    </div>
                  </div> <!--end of dropdown-->
                <div class="things-base">
                     <a href="#"><b>Things</b></a>
                 </div><!--end of things-base-->

                <div class="house-base">
                    <a href="#"><b>House</b></a>
                </div><!--end of house-base-->

                <div class="profile-base">
                    <a href="#"><b>Profile</b></a>
                </div><!--end of profile-base-->

            </div><!--end of mid-nav-->
        </div><!--end of top-nav-->
    </body>
</html>