.nav {
    height: 65px;
    width: 100%;
    background-color: red;
    position: fixed;
    float: left;
    margin: auto;
}

.addv {
    width: 10%;
    height: 100vh;
    background-color: black;
    margin: auto;
}


.addv_right {
    float: right;
}

.addv_left {
    float: left;
}



@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .nav_opener *{
        display: block;
        font-size: 60px;
    }

    .close_button{
        display: block;
        font-size: 60px;
    }
    .nav {
        display: none;
        width: 100%;
        height: 100vh;

    }
    .addv {
        display: none;
    }
}

